<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.back.emoyogiyo.user.UserMapper">
	<select id="userlogin" resultType="UserEntity">
		SELECT * FROM e_user WHERE user_id = #{user_id}
	</select>
	
	<select id="idChk" resultType="boolean">
		SELECT IFNULL(MAX(TRUE), FALSE)
		FROM e_user
		WHERE user_id = #{user_id}
	</select>
	
	<insert id="insUser">
		INSERT INTO e_user
		(
			store_num, user_id, user_pw, salt, user_nm, gender, birthday, ph_num
		)
		VALUES
		(
			#{store_num}, #{user_id}, #{user_pw}, #{salt}, #{user_nm}, #{gender}, #{birthday}, #{ph_num}
		)
	</insert>
</mapper>  