@charset "UTF-8";
		body{
            background-color: cornflowerblue;
        }
        .title_join{
            text-align: center;
            color: white;
            font-size: 50px;
            font-weight: 500;
            margin: 30px;
        }
        .join{
            position: absolute;
            top: 40%; left: 50%;
            transform: translate(-50%,-50%);
        }
        .join_box{
            width: 680px;
            background-color: white;
            padding: 30px;
            border-radius: 20px;
        }
        table{
            border-collapse: separate;
            border-spacing: 0 30px;
            color: cornflowerblue;
        }
        .star{
            color: red;
        }
        .join_box input[type=text],[type=password]{
            border: none;
            border-bottom: 1px solid grey;
        }
        .join_box input[type=text]:focus,[type=password]:focus {
            outline:2px solid cornflowerblue;
        }
        .join_box input[type=submit],[type=button] {
            background-color: cornflowerblue;
            border: none;
            border-radius: 20px;
            color: white;
            height: 30px;
        }
        .join_box input[type=submit]:hover,[type=button]:hover {
            color: turquoise;
            cursor: pointer;
        }
        .join_box input[type=submit]{
            width: 200px;
            height: 40px;
            font-size: 20px;
        }
        .join_submit{
            text-align: center;
        }